.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #473c54;
    font-family: Lato, sans-serif;
    position: fixed !important;
    left: 0px;
    top: 0px;
    min-height: 50px;
    padding: .5rem 1rem;
}

.nav-content .nav-logo h2 {
    color: white;
    font-size: large;
    letter-spacing: 3px; 
    margin-left:20px;
}